.title {
  font-weight: normal;
  line-height: 125%;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.signin {
  background-color: var(--primary) !important;
  color: white !important;
}

.myStory {
  max-width: 500px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto
}

.myStory h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 28px;
  padding-bottom: 1rem
}

.btnGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 280px;
  height: 250px;
  margin: auto;
}

.btnGroup button {
  height: 50px !important;
  border-radius: 50px !important;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.skipBtn {
  color: #ffffff80 !important;
}

.warning {
  color: red;
  font-size: 12px;
  display: none;
}

.termsWrapper button {
  border-radius: 0
}

.terms {
  color: white;
  font-size: 16px;
  border-bottom: 1px solid white;
  font-weight: 900;
}