.resources a {
    text-align: left;
    color: white;
    text-decoration: underline;
    line-height: 2rem;
}

.resources svg {
    vertical-align: middle;
    margin-right: 8px;
}

.link {
    text-align: left;
}

.stats {
    text-align: left;
    line-height: 1.5rem;
}

.stories, .singleStory {
    height: 100%;
}

.singleStory {
    margin-top: -1rem;
}

.resources, .stats {
    padding: 2rem;
}

.storyList {
    overflow-y: auto;
    margin-top: 1rem;
    height: calc(100% - 86px);
}

.storyItem {
    border: 1px solid white;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    margin: 0 2rem 1rem 2rem;
}

.storyItem p, .expandedStory p {
    word-wrap: break-word;
    line-height: 1.6rem;
    font-size: 0.9rem;
    text-align: justify;
}

.createAt {
    font-size: 10px;
    display: block;
    color: gray;
}

.storyBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expandedStory {
    height: 100%;
}

.expandedStory .content {
    border: 1px solid white;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    margin: 0rem 2rem 1rem 2rem;
    overflow: auto;
    height: calc(90% - 2rem);
}

.expandBtn {
    right: 0px;
    position: absolute !important;
    color: white !important;
}

.searchBarWrapper {
    padding: 1rem 2rem 0 2rem;
}

.searchTitle, .storyTitle {
    position: relative;
    padding: 0 2rem;
}

.searchTitle button {
    position: absolute;
    top: -16px;
    right: 2rem;
}

.backBtn {
    position: absolute;
    top: -16px;
    left: 2rem;
}

.commentItem {
    background: #828282;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    line-height: 22px;
}

.commentItem svg {
    height: 16px;
    width: 16px;
}
.commentWrapper {
    margin-top: 1rem;
    overflow: auto;
}

.postButton {
    font-weight: 900 !important;
    color: white !important;
    background-color: transparent !important;
}