.resources a {
  text-align: left;
  color: white;
  text-decoration: underline;
  line-height: 2rem;
}

.resources svg {
  vertical-align: middle;
  margin-right: 8px;
}

.link {
  text-align: left;
}

.stats {
  text-align: left;
  line-height: 1.5rem;
}

.stories {
  height: 100%;
}

.resources,
.stats {
  padding: 2rem;
}

.storyList {
  overflow-y: scroll;
  margin-top: 1rem;
  height: calc(100% - 66px - 1rem);
}

.storyItem {
  border: 1px solid white;
  border-radius: 10px;
  text-align: left;
  padding: 1rem;
  margin: 0 2rem 1rem 2rem;
}

.storyItem p, .expandedStory p {
    word-wrap: break-word;
    line-height: 1.6rem;
    font-size: 0.9rem;
    text-align: justify;
}

.createAt {
  font-size: 10px;
  display: block;
  margin-top: 10px;
  color: var(--primary);
}

.storyBtn {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.expandedStory {
  height: 100%;
}

.expandedStory .content {
  border: 1px solid white;
  border-radius: 10px;
  text-align: left;
  padding: 1rem;
  margin: 0rem 2rem 1rem 2rem;
  overflow: hidden;
  height: calc(100% - 90px);
}

.expandBtn {
  right: 0px;
  position: absolute !important;
  color: white !important;
}

.searchBarWrapper {
  padding: 1rem 2rem 0 2rem;
}

.searchTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.searchTitle button {
    color: white
}

.commentItem {
    background: #828282;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.commentWrapper {
    margin-top: 1rem;
    height: 85px;
    overflow: auto;
}

.postButton {
    color: var(--primary) !important
}
