version: '3.6'

services:
  ui:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile.dev
    command: yarn start
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    depends_on:
      - api
    environment:
      - REACT_APP_API=http://127.0.0.1:8000
    tty: true
  api:
    build:
      context: ./backend
      dockerfile: ./Dockerfile.dev
    command: bash -c "uvicorn app:app --host 0.0.0.0 --port 80 --reload"
    ports:
      - "8000:80"
    volumes:
      - ./backend:/app
      - python_modules:/usr/local/lib/python3.6/site-packages
      - bin:/usr/local/bin
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: 'covid'
      DATABASE_USER: 'root'
      DATABASE_PASSWORD: ''
      PEPPER: '56UpUXF8lF'
      DEV: 'True'
      JWT_SECRET: 'eXqByNjF4w8O3TvR2NZm8qQTG0tVe5yR'
      COOKIE_EXPIRATION_SECONDS: '86400'
  db:
    build:
      context: ./backend
      dockerfile: ./Dockerfile.db
    volumes:
      - db:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'

volumes:
  node_modules:
  db:
  python_modules:
  bin:
