.root {
    max-height: 80vh;
    width: 100vh;
    overflow:auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    min-width: 100%;
    min-height: 100%;
  }
  .root::-webkit-scrollbar {
    display: none;
  }