.buttons {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  width: 210px;
  align-items: center;
}

.buttons > button {
  width: 210px;
  min-width: max-content;
}