body {
  background-color: black;
  /* background: url(../images/map.png); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-family: 'Rubik', 'Abel', sans-serif;
  color: white;
}

html, #root, body {
  height: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mask {
  position: absolute;
}

.dark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40);
  z-index: 0;
  top: 0;
  left: 0;
}

.App, .Alert, .Onboard, .Confirm, .Symptoms, .CriticalQuestions, .HealthMeasurements, .MyStory {
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.Onboard .btn-group .fab {
  width: 200px;
}

.header {
  position: absolute;
  width: fit-content;
  height: 31px;
  left: 5%;
  top: 22px;
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  z-index: 2;
}

.MyStory .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

.MyStory .MuiOutlinedInput-root {
  height: 100%;
  width: 100%;
}

.MyStory .MuiFormControl-root {
  height: 40%;
  width: 80%;
}

.MyStory .MuiFormLabel-root.Mui-focused {
  width:120%
}

.MyStory .MuiInputLabel-outlined {
  color: #adadad;
  width: calc(100% - 14px*2);
  line-height: 1.5rem;
  text-align: left;
  font-size: 14px;
}

.MyStory .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #3f51b5 !important
}
.MyStory .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white
}


.MyStory .subtitle {
  font-size: 16.5px;
  margin: -0.7rem auto 2rem auto;
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
}

.App .title {
  width: 270px;
}

.Alert .title, .warnings a {
  color: #ea1f27
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fab {
  color: white !important;
  /* margin: auto !important; */
}

.App .fab {
  position: absolute;
  background: #EA2027;
  left: calc(50% - 70px/2);
  top: 60%;
}

.Onboard .btn-group {
  width: 150px;
  height: 250px;
}

.btn-n-caption {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: absolute;
  width: 114px;
  height: 95px;
}

.btn-n-caption .btn-wrapper {
  position: static;
  width: 70px;
  height: 70px;
  left: 22px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 4px;
}

.btn-n-caption .caption {
  position: static;
  width: max-content;
  height: 21px;
  left: calc(50% - 114px/2);
  top: 74px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FDFBF9;
  flex: none;
  order: 1;
  align-self: center;
  margin: 4px 4px 0px 4px;
}

.cancel-btn {
  bottom: 0;
  width: max-content;
  height: max-content;
  position: absolute;
  left: calc(50% - 70px/2);
}

.textfields {
  display: flex;
  flex-direction: column;
}

.demographics {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.form-row {
  padding: 1.5rem 1rem 0rem 0rem;
  display: flex;
  align-items: center;
}

.contacts div, .travels div {
  height: 24px;
  margin-left: 5px;
}

.form-row .fab {
  margin-right: 1rem !important;
}

#menu- .MuiMenu-paper {
  top: 30% !important
}

.App .signin-btn, .App .signin-btn:hover, .Dashboard .signin-btn, .Dashboard .signin-btn:hover {
  background-color: #EA2027 !important;
  color: white
}

.next-btn {
  position: fixed !important;
  right: 20px;
  bottom: 30px;
}

.back-btn {
  position: fixed !important;
  left: 20px;
  bottom: 30px;
}

.back-btn span {
  color: white;
}

.Symptoms .subtitle {
  width: 340px;
  line-height: 1.5rem;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.Confirm .btn-group {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  width: 250px;
  align-items: center;
}

.Confirm .btn-group .fab {
  width: 250px;
  min-width: max-content;
}

.Alert h2 {
  font-size: 30px;
}

.Status .title, .Confirm .title {
  top: 20%;
  width: 300px;
  left: calc(50% - 300px/2);
}

.update-list div {
  font-size: 15px;
  line-height: 1.5rem;
}

.suggestions-wrapper a {
  font-size: 18px;
  line-height: 26px;
  text-decoration: underline;
}

.suggestions-wrapper div {
  font-size: 18px;
  line-height: 26px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.status-wrapper {
  justify-content: space-between;
  /* text-align: center; */
  width: 90%;
  position: absolute;
  top: 10%;
  left: 5%
}

.suggestions-wrapper {
  left: 5%;
  width: 90%;
  position: absolute;
  bottom: 5%;
}

.status-item {
  align-items: center;
  margin-bottom: 10px;
}

.breadcrumbs .MuiBreadcrumbs-ol {
  color: white;
  font-family: Abel;
  position: absolute;
  right: 5%;
  top: 28px;
}

.terms-wrapper {
  overflow-y: scroll;
  padding: 1rem 2rem;
  max-height: 400px;
  font-size: 14px;
  line-height: 1.5rem;
}

.terms-wrapper a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.warnings {
  text-align: left;
  width: 80%;
  padding-bottom: 48px;
}

.sliders-wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}