html, #root, body {
  height: 100%;
  margin: 0;
}

:root {
  --primary: #EA2027;
  --red: #EA2027;
  --purple: #9206FF;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(/static/background.png);
  height: 100%;
  font-family: 'Rubik', 'Abel', sans-serif !important;
  color: white !important;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.title {
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fab {
  color: white !important;
}

.next-btn {
  position: fixed !important;
  right: 20px;
  bottom: 30px;
}

.back-btn {
  position: fixed !important;
  left: 20px;
  bottom: 30px;
}

.back-btn span {
  color: white;
}

.update-list div {
  font-size: 15px;
  line-height: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.status-wrapper {
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 10%;
  left: 5%
}

.terms-wrapper {
  overflow-y: scroll;
  padding: 2rem 0.5rem;
  max-height: 400px;
  font-size: 14px;
  line-height: 1.5rem;
}

.terms-wrapper a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.terms-wrapper ul {
  padding-right: 2.3rem;
}

.warnings {
  text-align: left;
  width: 80%;
  padding-bottom: 48px;
}

.sliders-wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}