html, #root, body {
  height: 100%;
  margin: 0;
}

:root {
  --primary: #EA2027;
}

body {
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-family: 'Rubik', 'Abel', sans-serif !important;
  color: white !important;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.title {
  font-weight: normal;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fab {
  color: white !important;
}

.form-row {
  padding: 1.5rem 1rem 0rem 0rem;
  display: flex;
  align-items: center;
}

.contacts div, .travels div{
  height: 24px;
  margin-left: 5px;
}

.form-row .fab {
  margin-right: 1rem !important;
}

#menu- .MuiMenu-paper{
  top:30% !important
}

.next-btn {
  position: fixed !important;
  right: 20px;
  bottom: 30px;
}

.back-btn {
  position: fixed !important;
  left: 20px;
  bottom: 30px;
}

.back-btn span {
  color: white;
}

.update-list div {
  font-size: 15px;
  line-height: 1.5rem;
}

.suggestions-wrapper a {
  font-size: 18px;
  line-height: 26px;
  text-decoration: underline;
}

.suggestions-wrapper div {
  font-size: 18px;
  line-height: 26px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.status-wrapper {
  justify-content: space-between;
  /* text-align: center; */
  width: 90%;
  position: absolute;
  top: 10%;
  left: 5%
}

.suggestions-wrapper {
  left: 5%;
  width: 90%;
  position: absolute;
  bottom: 5%;
}

.status-item {
  align-items: center;
  margin-bottom: 10px;
}

.breadcrumbs .MuiBreadcrumbs-ol {
  color: white;
  font-family: Abel;
  position: absolute;
  right: 5%;
  top: 28px;
}

.terms-wrapper {
  overflow-y: scroll;
  padding: 1rem 2rem;
  max-height: 400px;
  font-size: 14px;
  line-height: 1.5rem;
}

.terms-wrapper a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.warnings {
  text-align: left;
  width: 80%;
  padding-bottom: 48px;
}

.sliders-wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
