.root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fill {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mask {
  z-index: 2;
}

.opaque {
  filter: saturate(0) contrast(0.4) brightness(0.4);
}

.map {
  z-index: 1;
  transition: all 0.5s;
}

.legend {
  background-color: rgba(153, 149, 149, 0.6);
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  position: absolute;
  left: 10px;
  z-index: 2;
  display: block;
  text-align: left;
}

.legend h3{  
  margin: 0 0 5px;
  color: whitesmoke;
}

.legend div span{
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.legendItem{
  color: whitesmoke;
}

.refresh {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  font-size: 12px;
  color: #ffffffb5;
  z-index: 2;
}

#map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

p {
  font-size: 0.85em;
  text-align: center;
}