.root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fill {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mask {
  background: rgba(0, 0, 0, 0.40);
  z-index: 2
}

.map {
  z-index: 1;
}
.legend {
  background-color: rgba(153, 149, 149, 0.6);
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  left: 10px;
  z-index: 2;
  display: block;
  text-align: left;
}

.legend h4 {
  margin: 0 0 10px;
  color: whitesmoke;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.legendItem{
  color: whitesmoke;
}
