.root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fill {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mask {
  z-index: 2;
}

.opaque {
  filter: saturate(0) contrast(0.4) brightness(0.4);
}

.map {
  z-index: 1;
  transition: all 0.5s;
}

.statusLegend {
  background-color: rgba(153, 149, 149, 0.6);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  z-index: 2;
  display: block;
  text-align: left;
  width: fix;
  margin-top: 10px;
}

.legend {
  background-color: rgba(153, 149, 149, 0.6);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  z-index: 2;
  display: block;
  width: fit-content;
  text-align: left;
}

.legend h3, .statusLegend h3 {
  margin: 0 0 5px;
  color: whitesmoke;
}

.statusLegend h2 {
  margin: 0 0 8px 0;
  color: whitesmoke;
}

.legendItem span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.legendItem {
  color: whitesmoke;
}

.random {
  position: absolute;
  bottom: 25px;
  left: 10px;
  width: 100%;
  font-size: 12px;
  color: #ffffffb5;
  z-index: 2;
}

.refresh {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  font-size: 12px;
  color: #ffffffb5;
  z-index: 2;
}

.legendCollapse {
  display: flex;
  align-items: center;
}

.legendCollapse button {
  padding: 5px;
  color: white;
}

.legendCollapse h3 {
  padding: 0;
  margin: 0;
}

.statusLegend h3 {
  padding-left: 5px;
}

.legendWrapper {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  position: absolute;
  bottom: 20px;
}

.popups {
  offset: 25;
  max-height: 50rem;
  width: 500rem;
  overflow:auto;
}