.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-height: calc(80vh - 100px);
  overflow: auto;
  top: 15%;
  justify-content: normal;
}

div::before {
  border-bottom: 1px solid white !important;
}

.grid-3>div {
  width: calc((90% - 8px*2));
  margin: 8px;
  text-align: left;
}

.grid-1>div {
  width: calc((90% - 8px*6)/3);
  margin: 8px;
  text-align: left;
}

.grid-2>div {
  width: calc((90% - 8px*4)/2);
  ;
  margin: 8px;
  text-align: left;
}

.root label {
  color: white;
  width: max-content;
}

.root>div {
  width: 100%;
}

.root div {
  color: white;
}

.root .MuiFormControl-root {
  text-align: left;
}

.checkbox-label {
  width: 100%;
  white-space: normal;
}

.formrow {
  max-width: calc(85% - 8px);
  padding: 1.5rem 1rem 0rem 0rem;
  display: flex;
  align-items: center;
}

.formrow div {
  height: 24px;
  margin-left: 5px;
}

.formrow .fab {
  margin-right: 1rem !important;
  color: white !important;
}

.location-wrapper {
  margin-top: 10px;
  position: relative;
}

.location-wrapper p{
  font-size:14px;
  color:grey

}
.status {
  color: grey;
  margin-bottom: 20px;
}

.status.error {
  color: red;
}
