.root {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poweredBy{
  position: absolute;
  z-index: 2;
  right: 15px;
  bottom: 35px;
  display: flex;
}

.poweredBy span {
  font-variant: small-caps;
  color: rgba(255, 255, 255, 0.6);
  line-height: 42px;
  margin-right: 8px;
}

.poweredBy img {
  height: 40px;
}