.root {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
}