.textarea fieldset {
    border-color: white;
    height: 100%;
}

.textarea > div:hover fieldset{
    border-color:white !important;
}

.textarea .Mui-focused label{
    width: 300px
}
.textarea label {
    color: grey;
    font-size: 15px;
    line-height: 1.5rem;
    width: 320px;
}

.textarea {
    width:30vw;
    height:30vw;
    max-width: 30vw;
    max-height: 30vh;
    display: flex;
    resize: vertical;
    overflow-y:scroll;
}

.textarea > div {
    height: 100%;
    color: white;
    align-items: flex-start;
    background-color: rgba(0,0,0,0.5);
}

