.textarea fieldset {
  height: 100%;
}

.textarea .Mui-focused label {
  width: 400px
}

.textarea label {
  color: grey;
  font-size: 15px;
  line-height: 1.5rem;
  width: 320px;
}

.textarea {
  width: 90vw;
  height: 40vh;
  display: flex;
}

.textarea>div {
  height: 100%;
  align-items: flex-start;
  background-color: #8888887a;
}