.textarea fieldset {
  border-color: white;
  height: 100%;
}

.textarea > div:hover fieldset{
  border-color:white !important;
}

.textarea .Mui-focused label{
  width: 400px
}
.textarea label {
  color: grey;
  font-size: 15px;
  line-height: 1.5rem;
  width: 320px;
}

.textarea {
  width: 90vw;
  height: 40vh;
  display: flex;
}

.textarea > div {
  height: 100%;
  color: white;
  align-items: flex-start;
  background-color: rgba(0,0,0,0.5);
}