.assessment {
    color:white !important;
    background-color: var(--primary) !important;
}

.speeddial {
    position: absolute;
    bottom: 80px;
    right:10px;
}
.speeddial > button{
    background-color: var(--primary) !important;
    position:absolute;
    bottom:-45px;
    right:5px
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

