.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.root p{ margin: 0; }

.assessment {
    color:white !important;
    background-color: var(--primary) !important;
}

.speeddial {
    position: absolute;
    bottom: 80px;
    right:10px;
}
.speeddial > button{
    background-color: var(--primary) !important;
    position:absolute;
    bottom:-45px;
    right:5px
}

.dot {
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.box {
    position: absolute;
    padding: 1rem;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 4px;
}

.wrapper div {
    font-size: 18px;
    line-height: 26px;
    width: fit-content;
    color: gray;
}

.box a {
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: white;
    display: block;
}

.box h3 { margin-top: 0; }

.top { top: 1rem; }

.left {
    left: 3rem;
    text-align: left;
}

.right {
    right: 3rem;
    text-align: right;
}

.bottom {
    bottom: 2rem;
}

.header {
    text-align: left;
    right: 3rem;
}

.header h3{
    margin-bottom: 0.2rem;
}

.statusList {
    margin-top: 10px;
    text-align: center;
}

.statusItem {
    align-items: center;
    margin-bottom: 10px;
    display: inline-flex;
    margin-right: 20px;
}

.latestTotals {
    display: inline-flex;
}

.totalItemNum {
    font-size: 1rem;
}
.totalItem {
    margin-right: 15px;
    font-size: 0.8rem;
}

@media (max-width: 1024px) {
    .left { left: 0; right: 50%; }
    .right { right: 0; left: 50%;}
    .wrapper { right: 0; }
    .top {
        top: 0rem;
        min-height: 150px;
        padding-top: 4rem;
    }
    .bottom { bottom: 0; }
    .box {
        border-radius: 0;
    }
    .header{
        width: 100%;
        text-align: left;
        left: 0rem;
    }
}

#board{
    width: 140px;
    height: 120px;
}