.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.breadcrumbs {
    position: absolute;
    right: 5%;
    top: 28px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.breadcrumbs * {
    color: white;
    font-family: Abel;
}

.assessment {
    color:white !important;
    background-color: var(--primary) !important;
}

.speeddial {
    position: absolute;
    bottom: 80px;
    right:10px;
}
.speeddial > button{
    background-color: var(--primary) !important;
    position:absolute;
    bottom:-45px;
    right:5px
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.box {
    position: absolute;
    padding: 1rem;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 4px;
}

.wrapper div {
    font-size: 18px;
    line-height: 26px;
    width: fit-content;
    color: gray;
}

.box a {
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: white;
    display: block;
}

.box h3 { margin-top: 0; }

.top { top: 5rem; }


.left {
    left: 3rem;
    text-align: left;
}

.right {
    right: 3rem;
    text-align: right;
}

.bottom {
    bottom: 2rem;
}

@media (max-width: 1024px) {
    .left { left: 0; right: 50%; }
    .right { right: 0; left: 50%;}
    .wrapper { right: 0; }
    .top {
        top: 4rem;
        min-height: 150px;
    }
    .box {
        padding-top: 0;
        border-radius: 0;
    }
    .breadcrumbs {
        top: 0;
        left: 0;
        right: 0;
        height: 5rem;
        background-color: rgba(0,0,0, 0.5);
        padding: 0 1rem;
    }
}
