.assessment {
    color:white !important;
    background-color: var(--primary) !important;
}

.speeddial {
    position: absolute;
    bottom: 80px;
    right:10px;
}
.speeddial > button{
    background-color: var(--primary) !important;
    position:absolute;
    bottom:-45px;
    right:5px
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}


.wrapper {
    left: 5%;
    width: 90%;
    position: absolute;
    bottom: 5%;
}

.wrapper a {
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: white;
}
  
.wrapper div {
    font-size: 18px;
    line-height: 26px;
    width: fit-content;
    color: gray;
}
  