<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="">
    <center>
    <H1>Covid Tracking </H1> <br>
	<H1>Login </H1> <br>
    email <input type = "text" name= "email" /> <br>
    pword <input type = "text" name = "pword" /> <br>
	</br>
	<H1>Symptoms</H1>
	first <input type = "text" name= "first" /> <br>
	scnd <input type = "text" name= "second" /> <br>
	</br>
	<H1>Location </H1> <br>
	lat <input type = "int" name= "lat" /> <br>
    lon <input type = "int" name = "long" /> <br>
	</br>
    <input type = "submit">
    </center>
</form>
</BODY>
</HTML>